.DS_Store
.vs
Windows/Demo/Debug
Windows/Demo/Release
Windows/Demo/GPUCache
Windows/Demo/Debug
Windows/Demo/Release
*.user
*.aps
Web/Demo/.idea
/.idea
macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace
macOS/Demo/TICDemo_Mac/Pods
macOS/Demo/TICDemo_Mac/Podfile.lock
iOS/Demo/TICDemo/TICDemo.xcworkspace
iOS/Demo/TICDemo/Podfile.lock
iOS/Demo/TICDemo/Pods
