.DS_Store
.vs
PaaS/Windows/Demo/Debug
PaaS/Windows/Demo/Release
PaaS/Windows/Demo/GPUCache
PaaS/Windows/Demo/Debug
PaaS/Windows/Demo/Release
*.user
*.aps
PaaS/Web/Demo/.idea
/.idea
PaaS/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace
PaaS/macOS/Demo/TICDemo_Mac/Pods
PaaS/macOS/Demo/TICDemo_Mac/Podfile.lock
PaaS/iOS/Demo/TICDemo/TICDemo.xcworkspace
PaaS/iOS/Demo/TICDemo/Podfile.lock
PaaS/iOS/Demo/TICDemo/Pods
PaaS/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcodeproj/xcuserdata
PaaS/macOS/Demo/TICDemo_Mac/TICDemo_Mac.xcworkspace/xcuserdata
PaaS/iOS/Demo/TICDemo/TICDemo.xcodeproj/xcuserdata
PaaS/iOS/Demo/TICDemo/TICDemo.xcworkspace/xcuserdata
